<footer class="footer">
  <div class="footer-container-center">
    <div class="footer-logo">
      <img src="{{ site.baseurl }}/images/FullLogoWHITE.png" alt="Frankie Sellars Logo">
    </div>

    <div class="footer-links">
      <a href="about.html">About</a>
      <a href="teaching.html">Teaching</a>
      <a href="blog.html">Blog</a>
      <a href="listen.html">Listen</a>
      <a href="contact.html">Contact</a>
    </div>

    <div class="footer-social">
      <a href="https://www.instagram.com/bassbubbs" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="mailto:frankiesellarsbass@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>

    <p class="footer-copy">
      © 2025 Frankie Sellars · All Rights Reserved
    </p>
  </div>
</footer>
